/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

#container {
  width: 100%;
  height: 100%; 
  position: sticky;
  display:inline-flexbox;
  /** NAVIGATION BAR */
nav {
    overflow: hidden;
    background-color:lightpink;
    position: relative;
    top: 0;
    width: 100%;
    ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 15px;
      li {
        display: inline;
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        a {
          color: darkorchid;
          text-decoration: none;
          padding: 14px;
          &:hover {
            background-color: #111;
          }
        }
      }
    }
  }
}

/** HEADER */



.content {
  text-align: center;
}
