*{
    margin: 0;
    padding: 0;
}
$titleSize: 10rem;
$textSize: 2rem;

@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        table, p, img {
        padding-right: 1em;
        width: 100%;
        }
     }
    @media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    }
    @media (min-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    }
    @media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    }
    @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    }
    @media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    }

.cabeza{
    width: 100%;
    height: 100px;
    background-color: salmon;
    align-items: start;
}
.textCommunity{
    background-color: lightyellow;
    p{
        color: blueviolet;
        text-align:center;
    }
    
}
.Image{
    width: 500px;
    height: 250px;
}
.background{
    background-color: lightblue;
}
.Info{
    background-color: pink;
    p{
        color:blue;
        font-size: $textSize;
    }
    h1{
        color: coral;
        font-size: $titleSize;
    }
    h2{
        font-size: $textSize;
    }
}

