*{
    margin: 0;
    padding: 0;
}
$titleSize: 10rem;
$textSize: 2rem;

@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        table, p, img {
        padding-right: 1em;
        width: 100%;
        }
     }
@media (min-width:480px)  { 
/* smartphones, Android phones, landscape iPhone */ 
}
@media (min-width:600px)  { 
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}
@media (min-width:801px)  { 
/* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { 
/* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px) { 
/* hi-res laptops and desktops */ 
}
@mixin textSquare { //Texto alineado al centro y con un color de  fondo
    background-color: lightblue;
    text-align:center; 
}
.background{
    @include textSquare()
}

.cabeza{
    width: 100%;
    height: 100px;
    background-color: salmon;
    align-items: start;
}
.textCommunity{
    @include textSquare();
    p{
        color: blueviolet;
    }
    
}
Image{
    width: 200px;
    height: 100px;
}
.Info{
    @include textSquare();
    p{
        color:blue;
        font-size: $textSize;
        padding: 1%;
    }
    h1{
        color: coral;
        font-size: $titleSize;
    }
    h2{
        color: red;
        font-size: $textSize;
    }
}

