*{
    margin: 0;
    padding: 0;
}

.cabeza{
    width: 100%;
    height: 40px;
    background-color: salmon;
    align-items: start;
}
.textCommunity{
    color: blueviolet;
    text-align:center;
}
#Nintendo{
    color: red;
    background-color: aqua;
}
.Image{
    width: 500px;
    height: 250px;
}
#Sega{
    color: blue;
    background-color: blueviolet;
}
#Steam{
    color:white;
    background-color: blue;
}
#Itch{
    color:white;
    background-color:salmon;
}
.background{
    background-color: pink;
}
@media all and (max-width: 768px) {
    nav {
        justify-content: space-around;
    }
    nav a.logo {
        flex: 100%;
    }
    .map {
        height: calc(100vh - 96px);
    }
}
@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  }
  html {
    font-size: 1em;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
